<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Google Analytics 2 Sheets</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <meta name="google-signin-client_id" content="564478280391-lecf9d328i7leegs84sdi2c8s2jo26o0.apps.googleusercontent.com">
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">
</head>

<body>
  <div id="app">
    <h1>Google Analytics 2 Sheets</h1>

    <div>
      <div>
        <h3>Metrics</h3>

        <input class="metrics" id="sessions" type="checkbox">
        <label for="sessions">Sessions</label>

        <input class="metrics" id="pageLoadTime" type="checkbox">
        <label for="pageLoadTime">Page Load Time</label>

        <input class="metrics" id="timeOnPage" type="checkbox">
        <label for="timeOnpage">Time On Page</label>

      </div>

      <div>
        <h3>Dimensions</h3>

        <input class="dimensions" id="screenResolution" type="checkbox">
        <label for="screenResolution">Screen resolution</label> <!-- ga:screenResolution -->

        <input class="dimensions" id="city" type="checkbox">
        <label for="city">City</label> <!-- ga:city -->

        <input class="dimensions" id="country" type="checkbox">
        <label for="country">Country</label> <!-- ga:country -->

        <input class="dimensions" id="browser" type="checkbox">
        <label for="browser">Browser</label> <!-- ga:browser -->

        <input class="dimensions" id="operatingSystem" type="checkbox">
        <label for="operatingSystem">Operating System</label> <!-- ga:operatingSystem -->

        <input class="dimensions" id="userType" type="checkbox">
        <label for="userType">User Type</label> <!-- ga:userType -->
      </div>
    </div>

    <button type="button" id="fetch-and-send">Fetch and Send</button>
  </div>

  <textarea disabled cols="80" rows="20" id="console"></textarea>
  <input type="text" id="console-input"></input>


  <pre id="content"></pre>
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <script src="../../public/js/sheets.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="../../public/js/helpers.js"></script>
  <script src="../../public/js/listeners.js"></script>

  <script>if (window.module) module = window.module;</script>

</body>

</html>